.loader__container {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__container .loader {
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-top-color: #3b82f6;
  border-left-color: #3b82f6;
  border-radius: 50%;
  animation: loader 0.7s infinite ease-in-out;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
